.form-control {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #dbdfea;
    border-radius: 4px;
    color: #3c4d62;
    display: block;
    font-size: 0.8125rem;
    font-weight: 400;
    height: calc(2.125rem + 2px);
    line-height: 1.25rem;
    padding: 0.4375rem 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 1.25rem;
    position: relative;
  }